<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aoharureverie.ocaacrclient.oldchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".OldChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="com.itsaky.androidide.logsender.utils.LogSenderInstaller"
            tools:node="remove" />
        <service
            android:name="com.itsaky.androidide.logsender.LogSenderService"
            tools:node="remove" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.AdvancedSettingsActivity" />
        <activity android:name=".ui.ServerListActivity" />
        <activity android:name=".ui.AccountListActivity" />
        <activity android:name=".ui.AccountEditActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.RecoverPasswordActivity" />
        <activity
            android:name=".ui.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.ChatSettingsActivity" />
        <activity android:name=".ui.ChatSearchActivity" />
        <activity android:name=".ui.RedPacketSendActivity" />
        <activity android:name=".ui.RedPacketOpenActivity" />
        <activity android:name=".ui.RedPacketDetailActivity" />
        <activity
            android:name=".ui.GroupChatActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.AddFriendActivity" />
        <activity android:name=".ui.GroupCreateActivity" />
        <activity android:name=".ui.GroupManageActivity" />
        <activity android:name=".ui.GroupMembersActivity" />
        <activity
            android:name=".ui.GroupAnnouncementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.GroupInviteActivity" />
        <activity android:name=".ui.GroupJoinRequestsActivity" />
        <activity android:name=".ui.ProfileEditActivity" />
        <activity android:name=".ui.ProfileSpaceEditActivity" />
        <activity android:name=".ui.UserSpaceActivity" />
        <activity android:name=".ui.EmojiPickerActivity" />
        <activity android:name=".ui.EmojiPlazaActivity" />
        <activity android:name=".ui.MusicPlazaActivity" />
        <activity android:name=".ui.MusicManageActivity" />
        <activity android:name=".ui.MusicDownloadsActivity" />
        <activity android:name=".ui.MusicPlayerActivity" />
        <activity android:name=".ui.MomentsActivity" />
        <activity android:name=".ui.OldViewActivity" />
        <activity android:name=".ui.OldViewVideoDetailActivity" />
        <activity android:name=".ui.OldViewUpProfileActivity" />
        <activity
            android:name=".ui.OldViewVideoFullActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.OldViewHistoryActivity" />
        <activity android:name=".ui.OldViewFavoritesActivity" />
        <activity android:name=".ui.OldViewFavoriteDetailActivity" />
        <activity android:name=".ui.ResourceSectionsActivity" />
        <activity android:name=".ui.ResourceSectionActivity" />
        <activity android:name=".ui.ResourceCommentsActivity" />
        <activity android:name=".ui.MusicCommentsActivity" />
        <activity android:name=".ui.FavoritesActivity" />
        <activity android:name=".ui.MomentComposeActivity" />
        <activity android:name=".ui.MomentCommentsActivity" />
        <activity android:name=".ui.MomentNoticeActivity" />
        <activity android:name=".ui.MomentGalleryActivity" />
        <activity android:name=".ui.CacheSettingsActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.NotificationSettingsActivity" />
        <activity android:name=".ui.DataSettingsActivity" />
        <activity android:name=".ui.SupportSettingsActivity" />
        <activity android:name=".ui.AccountManagementActivity" />
        <activity android:name=".ui.DeviceManagementActivity" />
        <activity android:name=".ui.UiSettingsActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.PrivacyPolicyActivity" />
        <activity android:name=".ui.ReportProgressActivity" />
        <activity android:name=".ui.PublicCourtActivity" />
        <activity android:name=".ui.PublicCourtCaseDetailActivity" />
        <activity android:name=".ui.ChangePasswordActivity" />
        <activity android:name=".ui.ImagePreviewActivity" />
        <activity android:name=".ui.NotificationChatActivity" />
        <activity
            android:name=".ui.CrashActivity"
            android:exported="false"
            android:process=":crash"
            android:theme="@style/CrashDialogTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.MessageService"
            android:exported="false" />
        <service
            android:name=".service.ResourceUploadService"
            android:exported="false" />

        <service
            android:name=".service.MusicPlaybackService"
            android:exported="false" />
    </application>

</manifest>
